/* Dette er en kommentar! - lav din css kode herunder */

/*Div 1*/
.div1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/*Div 2*/
.div2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

/*Div 3*/
.div3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}