/* Dette er en kommentar! - lav din css kode herunder */
h1 {
   font-size: 50px;
   color: #ff0000;
   font-family: sans-serif;
}

h2 {
   font-size: 40px;
   color: #ff0000;
   font-family: sans-serif;
}

h3 {
   font-size: 40px;
   color: #ff0000;
   font-family: sans-serif;
}

h4 {
   font-size: 40px;
   color: #ff0000;
   font-family: sans-serif;
}